
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Charger</a>
        <ul class="nav  nav-tabs justify-content-end" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="signUp">Sign Up</a></li>
            <li class="nav-item"><a class="nav-link " routerLink="">Login</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
        </ul>
    </div>
</nav>

<div class="container">
       <router-outlet></router-outlet>	
    </div>
  
    