
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">ChargerCloud</a>
        <ul class="nav  nav-tabs ml-auto" routerLinkActive="active">
             <li style="float:right" *ngIf="!userService.loggedIn" class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            
            <li style="float:right" *ngIf="!userService.loggedIn" class="nav-item"><a class="nav-link" routerLink="signUp">Sign Up</a></li>
           <li style="float:right" *ngIf="!userService.loggedIn" class="nav-item"><a class="nav-link " routerLink="">Login</a></li>
            <li style="color:#0275d8;float:right" *ngIf="userService.loggedIn"  class="nav-item"><a class="nav-link" (click)="logout()" >Logout</a></li>
        </ul>
    </div>
</nav>

<div fxFlexFill>
       <router-outlet ></router-outlet>	
    </div>
  
    