<div class="container" fxLayoutAlign="center center" fxLayout="column">
<h3 style="margin-bottom:25px" class="h3">Join ChargerCloud</h3>
<div class="form-group" style="width:55vh">
  <label for="email">Email:</label>
  <input type="text" required class="form-control"[(ngModel)]="newUser.email" id="email">
</div>
<div class="form-group" style="width:55vh">
  <label for="name">UserName:</label>
  <input type="text" required class="form-control"[(ngModel)]="newUser.name" id="name">
</div>
<div class="form-group" style="width:55vh">
  <label for="password">Password:</label>
  <input type="password" required class="form-control"[(ngModel)]="newUser.password" id="password">
</div>
<div class="form-group" style="width:55vh">
  <label for="company">Company:</label>
  <input type="text" required class="form-control"[(ngModel)]="newUser.comName" id="company">
</div>
<button class="btn btn-primary " (click)="registerUser()" type="submit">Accept</button>
<div *ngIf="success" class="alert alert-success" style="margin-top:5px">
  <strong>Success!</strong> {{message}}
</div>
</div>



<!-- <div>{{newUser.name}}</div> -->